# Игнорирование виртуального окружения
venv/
__pycache__/
*.pyc

# Игнорирование файла базы данных Django (если используется SQLite)
db.sqlite3

# Игнорирование файлов конфигурации IDE
.idea/
.vscode/

# Игнорирование кешей и временных файлов
*.log
*.bak
*.swp
*.swo

# Игнорирование конфигураций системы
.DS_Store
Thumbs.db
