{% load static %}

<div class="news-list">
    {% for category in categories %}
    <a class="news-list__item" href="{{ category.get_absolute_url }}">
        <div class="news-list__photo"
             style="background-image: url({% if category.image %}{{ category.image.url }}{% else %}{% static 'images/first.jpg' %}{% endif %})">
            <div class="news-list__info">
                <h2 class="news-list__title">{{ category.name }}</h2>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
