{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock %}

{% block content %}
<main>


    <div class="about-company">
        <section class="about-company__head">
            <div class="about-company-head">
                <div class="container">
                    <h1 class="about-company-head__title">Контакты</h1>
                    <div class="about-company-head__desc" style="color: #262a31;">
                        Группа компаний «Интерстилс» поставляет металлопрокат и сопутствующие товары заказчикам в
                        России, Казахстане,
                        Узбекистане, а также других странах ближнего и дальнего зарубежья.
                    </div>
                </div>
            </div>
        </section>
        <style>
            .about-company-head {
                height: 270px;
                width: 100%;
                background-color: #ededed;
                background-image: url(#);
                background-repeat: no-repeat;
                background-position: right;
                padding-top: 25px;
            }

            @media (max-width: 991px) {
                .about-company__head {
                    margin-bottom: 0px;
                }
            }


        </style>
    </div>

    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="contacts__map">
                        <div class="contacts-map">
                            <div id="contacts-map">
                                <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;source=constructor-api&amp;um=constructor%3A273ef57fd2e3fe3fcb2f8c72d2c9123564330b69e804eb8b16efab4b0ba9cca5"
                                        frameborder="0" allowfullscreen="true" width="100%" height="330px"
                                        style="display: block; max-width: 1180px; margin: 0 auto;"></iframe>

                                <div id="ymap_ctrl_display">
                                    <h4>Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="contacts__adress">
                        <div class="contacts-adress">
                            <div class="row contacts-adress__adress">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__office">Отдел продаж</h2>
                                    <div class="col-lg-12 contacts-adress__time">
                                        <p>Пн-Чт: с 9:00 до 18:00, Пт: с 9:00 до 17:00</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12 contacts-adress__title">Адрес</div>
                                        <div class="col-lg-12 contacts-adress__desc">Улица Сыганак, 54а, БЦ "А", офис
                                            1001, 10 этаж
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg">
                                            <div class="contacts-adress__title">
                                                для Астаны
                                            </div>
                                            <div class="contacts-adress__desc">+7 (717) 264 02 97</div>
                                        </div>
                                        <div class="col-lg">
                                            <div class="contacts-adress__title">Email</div>
                                            <div class="contacts-adress__desc mgo-email" id="contacts-adress__email">
                                                <span class="mgo-email">astana@isteels.kz</span>
                                                <span data-tippy-content="Cкопировать">
                                                    <svg class="icon icon_copy">
                                                      <use xlink:href="/static/img/svg/symbol/sprite.svg#copy"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row contacts-adress__details">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__detail">Реквизиты</h2>
                                    <a class="col-lg-12 contacts-adress__download" href="/contacts_pdf/">
                                        Скачать документом (.pdf)
                                    </a>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">БИН</div>
                                            <div class="contacts-adress__desc">221040008280</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">ИИК</div>
                                            <div class="contacts-adress__desc">KZ808562203125974472</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Банк</div>
                                            <div class="contacts-adress__desc">АО «Банк ЦентрКредит»</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">БИК</div>
                                            <div class="contacts-adress__desc">KCJBKZKX</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Директор</div>
                                            <div class="contacts-adress__desc">Иванов Павел Андреевич</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Телефон</div>
                                            <div class="contacts-adress__desc">+7 (717) 264 05 60</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Адрес эл. почты</div>
                                            <div class="contacts-adress__desc">ivanov@isteels.kz</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12">
                    <div class="catalog__promo-help-white promo-help-white"
                         style="background-image: url(/static/img/content/promo-help-white.webp);">
                        <div class="promo-help-white__inner">
                            <div class="promo-help-white__title">Нужна помощь?</div>
                            <div class="promo-help-white__desc">
                                <p>Обсудить все вопросы, рассчитать стоимость доставки и договориться о способе оплаты
                                    вы можете с
                                    нашими специалистами.</p>
                            </div>
                            <div class="promo-help-white__controls">
                                <button class="promo-help-white__order btn" data-modal-toggle="#modal-request">
                                    Оставить заявку
                                    <svg class="icon icon_arrow-right">
                                        <use xlink:href="/static/img/svg/symbol/sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a class="promo-help-white__consultant btn btn_outline" href="javascript:void(0);"
                                   onclick="jivo_api.open()">
                                    Онлайн консультант
                                    <svg class="icon icon_chat">
                                        <use xlink:href="/static/img/svg/symbol/sprite.svg#chat"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
{% endblock %}