{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock %}

{% block content %}
<main>


    <div class="about-company">
        <section class="about-company__head">
            <div class="about-company-head">
                <div class="container">
                    <h1 class="about-company-head__title" style="color: white;">Контакты</h1>
                    <div class="about-company-head__desc" style="color: white;">
                        Благодаря большим объёмам выпускаемой продукции и прямым поставкам с заводов, Стальная Федерация может предложить лучшие цены на металлоизделия.
                    </div>
                </div>
            </div>
        </section>
        <style>
            .about-company-head {
                height: 300px;
                width: 100%;
                background-color: #ededed;
                background-image: url({% static 'images/kz.jpg' %});
                background-repeat: no-repeat;
                background-position: right;
                padding-top: 25px;
            }

            @media (max-width: 991px) {
                .about-company__head {
                    margin-bottom: 0px;
                }
            }


        </style>
    </div>

    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="contacts__map">
                        <div class="contacts-map">
                            <div id="contacts-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.4273235047276!2d76.89413371232594!3d43.26342267100286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883695fb8e9401f%3A0x648292358dfb7453!2zMSwg0L_RgC3Rgi4g0KDQsNC50YvQvNCx0LXQutCwIDI1MSwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1738606701691!5m2!1sru!2skz"
                                        class="map-frame" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                                <div id="ymap_ctrl_display">
                                    <h4>Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</h4>
                                </div>
                            </div>

                            <style>
                                #contacts-map {
                                    position: relative;
                                    width: 100%;
                                    max-width: 1180px;
                                    margin: 0 auto;
                                }

                                .map-frame {
                                    width: 100%;
                                    height: 330px;
                                    border: 0;
                                    border-radius: 10px;
                                }

                                #ymap_ctrl_display {
                                    text-align: center;
                                    padding: 10px;
                                }

                                /* Адаптация для мобильных устройств */
                                @media (max-width: 768px) {
                                    .map-frame {
                                        height: 250px;
                                    }

                                    #ymap_ctrl_display h4 {
                                        font-size: 14px;
                                    }
                                }

                                @media (max-width: 480px) {
                                    .map-frame {
                                        height: 200px;
                                    }

                                    #ymap_ctrl_display h4 {
                                        font-size: 12px;
                                    }
                                }
                                @media (max-width: 991px) {
                                    .contacts__map {
                                        margin-bottom: -100px;
                                    }
                                }
                            </style>

                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <section class="contacts__adress">
                        <div class="contacts-adress">
                            <div class="row contacts-adress__adress">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__office">Отдел продаж</h2>
                                    <div class="col-lg-12 contacts-adress__time">
                                        <p>Пн-Пт: с 9:00 до 18:00</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12 contacts-adress__title">Адрес</div>
                                        <div class="col-lg-12 contacts-adress__desc">Республика Казахстан, город Алматы,
                                            Проспект Райымбека 251/1
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg">
                                            <div class="contacts-adress__title">
                                                Телефон
                                            </div>
                                            <div class="contacts-adress__desc">+7 (747) 562 05 16</div>
                                        </div>

                                        <div class="col-lg">
                                            <div class="contacts-adress__title">
                                                <span><i class="fi fi-brands-whatsapp"></i></span>
                                                Whatsapp
                                            </div>
                                            <div class="contacts-adress__desc">+7 (747) 562 05 16</div>
                                        </div>
                                        <div class="col-lg">
                                            <div class="contacts-adress__title">Email</div>
                                            <div class="contacts-adress__desc mgo-email" id="contacts-adress__email">
                                                <span class="mgo-email">zakaz@steelfed.kz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row contacts-adress__details">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__detail">Реквизиты</h2>
                                    <a class="col-lg-12 contacts-adress__download" href="/contacts_pdf/">
                                        Скачать документом (.pdf)
                                    </a>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">БИН</div>
                                            <div class="contacts-adress__desc">221040008280</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">ИИК</div>
                                            <div class="contacts-adress__desc">KZ808562203125974472</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Банк</div>
                                            <div class="contacts-adress__desc">АО «Банк ЦентрКредит»</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">БИК</div>
                                            <div class="contacts-adress__desc">KCJBKZKX</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Директор</div>
                                            <div class="contacts-adress__desc">Иванов Павел Андреевич</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Телефон</div>
                                            <div class="contacts-adress__desc">+7 (717) 264 05 60</div>
                                        </div>

                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title">Адрес эл. почты</div>
                                            <div class="contacts-adress__desc">ivanov@isteels.kz</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <style>
                @media (max-width: 480px) {
                    .contacts div {
                        font-size: 1rem;
                        text-align: left;
                    }
                }
            </style>
        </div>
    </div>

    <div class="container">
        <div class="catalog__promo-help-white promo-help-white mb-5 mt-2"
             style="background-image: url({% static 'images/kz.jpg' %})">
            <div class="promo-help-white__inner">
                <div class="promo-help-white__title" style="color: white;">Нужна помощь?</div>
                <div class="promo-help-white__desc">
                    <p style="color: white;">Обсудить все вопросы, рассчитать стоимость доставки и договориться о
                        способе оплаты вы можете с
                        нашими специалистами.</p>
                </div>
                <div class="promo-help-white__controls" style="gap: 7px;">
                    <button class="promo-help-white__order btn" data-modal-toggle="#modal-request"
                            style="background-color: #ff740f; color: white;">
                        Оставить заявку
                    </button>
                    <a class="promo-help-white__consultant btn btn_outline" href="javascript:void(0);"
                       onclick="jivo_api.open()" style="background-color: white; color: #383a44;">
                        Онлайн консультант
                    </a>
                </div>
            </div>
        </div>
    </div>

    <style>
        @media (max-width: 991px) {
        .promo-help-white__inner {
            background-image: url({% static 'images/kz.jpg' %});
            border-radius: 10px;
        }
    }
    </style>


</main>
{% endblock %}