{% extends 'base.html' %}
{% load static %}

{% block content %}
<main >


    <div class="about-company">
        <section class="about-company__head">
            <div class="about-company-head">
                <div class="container">
                    <h1 class="about-company-head__title">Контакты</h1>
                    <div class="about-company-head__desc">
                        Группа компаний «Интерстилс» поставляет металлопрокат и сопутствующие товары заказчикам в
                        России, Казахстане,
                        Узбекистане, а также других странах ближнего и дальнего зарубежья.
                    </div>
                </div>
            </div>
        </section>
        <style>
            .about-company-head {
                height: 270px;
                width: 100%;
                background-color: #f5f7f8;
                background-image: url(#);
                background-repeat: no-repeat;
                background-position: right;
                padding-top: 25px;
            }


        </style>
        <div class="container">

            <section class="about-company__middle row ">

                <div class="col-md-6">
                    <div class="about-company-middle">
                        <div class="about-company-middle__sub-title" style="color: #ff740f;">о компании</div>
                        <h2 class="about-company-middle__title">Группа компаний «Интерстилс»</h2>
                        <div class="about-company-middle__desc">
                            <p> Мы занимаемся комплексным обеспечением производственных и строительных объектов.
                                Ежемесячно поставляем все виды проката
                                400-500 постоянным клиентам, а также привлекая новых заказчиков низкими ценами и
                                оперативной доставкой абсолютно любой номенклатуры.</p>
                            <p>Работаем во всех часовых поясах. Отделы продаж открыты в Санкт-Петербурге, Нижнем
                                Новгороде, Екатеринбурге,
                                Новосибирске, Красноярске и Астане. Кроме того, в крупных городах России и
                                Казахстана действуют крытые склады с
                                запасом наиболее востребованных в данном регионе позиций. И мы постоянно расширяем
                                свое присутствие.</p>
                            <p> Для удобства наших клиентов, как коммерческих, так и бюджетных организаций,
                                используем все предусмотренные
                                законодательством банковские инструменты (казначейский счет, отдельный счет ОБС).
                                Работаем с коммерческими закупками,
                                тендерными площадками по 223-ФЗ и 44-ФЗ и государственным оборонным заказом по
                                275-ФЗ.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="mb-5" style="border-radius: 15px;" src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}">
                    <img style="border-radius: 15px;" src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}">
                </div>

            </section>


            <section class="about-company__target">
                <div class="company-target">
                    <div class="company-target__logo">
                        <svg class="icon icon_logo_img">

                        </svg>
                    </div>
                    <div class="company-target__item">
                        <h3 class="company-target__item-left">Миссия нашей компании</h3>
                        <div class="company-target__item-right">
                            <div class="company-target__item-right-item">
                                <div class="company-target__item-right-title">Быть для клиентов настоящим помощником
                                    в решении любых металлоёмких задач
                                </div>
                                <div class="company-target__item-right-desc">
                                    Миссия «Интерстилс» – быть для клиентов настоящим помощником в решении любых
                                    металлоёмких задач.
                                    Поэтому мы ежедневно инвестируем в компетенции наших сотрудников,
                                    бизнес-процессы, производственные и логистические технологии.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="company-target__item">
                        <h3 class="company-target__item-left">Что мы можем предложить</h3>
                        <div class="company-target__item-right">
                            <div class="company-target__item-right-item">
                                <div class="company-target__item-right-title">Готовые решения для всех отраслей
                                </div>
                                <div class="company-target__item-right-desc">
                                    Помимо собственного производства по широкой номенклатуре, мы&nbsp;поддерживаем
                                    прямые контакты с ведущими предприятиями России,
                                    Казахстана, Индии, Китая и Европы.
                                    Поэтому можем в короткие сроки и&nbsp;по выгодным ценам&nbsp;исполнить заявку
                                    любой сложности.
                                    Вся поставляемая продукция производится в строгом соответствии с отраслевыми
                                    стандартами и имеет соответствующие
                                    сертификаты качества.
                                </div>
                                <div class="target-card row">
                                    <div class="target-card-column col">
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Автомобильная промышленность</div>
                                            <div class="target-card__item-desc">Автомобильные стали, пластик и
                                                другое
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Электроэнергетика</div>
                                            <div class="target-card__item-desc">Электротехнические стали, опоры ЛЭП,
                                                кабельная продукция
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Судостроение</div>
                                            <div class="target-card__item-desc">Судовые стали, судовое оборудование,
                                                судовая арматура, судовой трубопровод, такелаж, судовая вентиляция
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Строительство</div>
                                            <div class="target-card__item-desc">Конструкции из металла разных тип и
                                                форм
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Сырье</div>
                                            <div class="target-card__item-desc">Металлические порошки, слитки</div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="target-card-column col">
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Сортовой и фасонный прокат общего
                                                назначения
                                            </div>
                                            <div class="target-card__item-desc">Трубы, арматура, листы, круги,
                                                прутки ленты, квадраты, проволока, профили и другие виды
                                                металлопроката из цветных металлов и сплавов, специальных сталей,
                                                нержавеющей стали, черной стали и чугуна.
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Авиастроение</div>
                                            <div class="target-card__item-desc">Авиационные стали, композитные
                                                материалы для авиастроения, цветные металлы для авиастроения
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Горнодобывающая промышленность
                                            </div>
                                            <div class="target-card__item-desc">Дробилки, промывочное оборудование,
                                                сортировочные установки, конвейеры
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                        <div class="target-card__item">
                                            <div class="target-card__item-title">Нефтегазовая промышленность</div>
                                            <div class="target-card__item-desc">Оборудование для добычи нефти и
                                                газа, резервуары для нефти и газа, газо-и нефтепровод
                                            </div>
                                            <div class="target-card__item-icon">

                                            </div>
                                        </div>
                                    </div>
                                    <a class="target-card__all-show"> <span>Показать все </span>

                                    </a>
                                </div>
                            </div>
                            <div class="company-target__item-right-item">
                                <div class="company-target__item-right-title">Дополнительные услуги</div>
                                <div class="company-target__item-right-desc">
                                    Мы закрываем все потребности клиентов, вплоть до любых видов&nbsp;металлообработки:&nbsp;гибка,
                                    резка, штамповка,
                                    теплоизоляция трубопровода (ВУС, ППУ, ППМ).
                                </div>
                            </div>
                            <div class="company-target__item-right-item">
                                <div class="company-target__item-right-title">Гибкое ценообразование</div>
                                <div class="company-target__item-right-desc">
                                    Благодаря высокому ежемесячному обороту ГК "Интерстилс" мы предоставляем
                                    клиентам уникальные ценовые условия.
                                    Чем больше объем заказа, тем выше скидка. Для постоянных клиентов предлагаем
                                    индивидуальный график оплат.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-company__bottom">
                <div class="about-company-bottom">
                    <div class="about-company-bottom__sub-title">Что на практике</div>
                    <h2 class="about-company-bottom__title">ФАКТОРЫ УСПЕХА</h2>
                    <div class="about-company-bottom__card row">

                        <div class="col-lg-4">
                            <div class="about-company-bottom__card-item"
                                 >
                                <div class="about-company-bottom__card-item-title">Команда ГК «Интерстилс»</div>
                                <div class="about-company-bottom__card-item-desc">
                                    Наши сотрудники - эксперты в области проката металла, сталей и сплавов,
                                    производства кабельной продукции,
                                    сварочных материалов, обработки благородных и редких металлов, а также
                                    изготовления промышленного оборудования.
                                    <br><br>
                                    Менеджеры, логисты, операторы ОТК всегда на связи с клиентами и владеют
                                    информацией по каждому
                                    этапу заказа – от первой сметы до приемки товара.
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="about-company-bottom__card-item">
                                <div class="about-company-bottom__card-item-title">Быстрая и бережная доставка</div>
                                <div class="about-company-bottom__card-item-desc">
                                    Сеть региональных складов и партнёрство с крупнейшими транспортными компаниями
                                    позволяют
                                    доставлять заказы в любую точку России, Казахстана, Узбекистана и других стран
                                    СНГ точно в срок и с
                                    соблюдением требований к перевозке данного вида груза.
                                    <br><br>На всех этапах доставки мы предоставляем заказчикам полную информацию о
                                    местонахождении и
                                    состоянии товара.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="about-company-bottom__card-item"
                                 style="background-image: url();">
                                <div class="about-company-bottom__card-item-title">
                                    Уникальная база поставщиков
                                </div>
                                <div class="about-company-bottom__card-item-desc">
                                    Мы производим широкий спектр изделий из черного, цветного и нержавеющего
                                    проката. Кроме того,
                                    у нас наработаны прямые контакты с поставщиками редких позиций – от
                                    металлургических комбинатов до
                                    небольших мануфактур, от федеральных складских хабов до региональных металлобаз.
                                    <br><br>Каталог нашей продукции превышает 6 млн единиц товара.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="about-company__facts">
            <h2 class="facts__title title">Факты о нас</h2>
            <div class="container-lg">
                <div class="facts__slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                    <div class="swiper-wrapper"
                         style="transition-duration: 0ms; transform: translate3d(-7368px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                             data-swiper-slide-index="5" style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(3684px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">2 000 групп товаров 6 млн
                                    позиций</h3>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0"
                             style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(3070px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">2 000 групп товаров 6 млн
                                    позиций</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="1" style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(2456px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">Складские комплексы во
                                    всех крупных регионах</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="2" style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(1842px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">Офисы продаж в России,
                                    Казахстане и Узбекистане</h3>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="3" style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(1228px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">500 постоянных
                                    клиентов</h3>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="4"
                             style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(614px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">50 специалистов по
                                    снабжению</h3>
                            </div>
                        </div>

                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="5"
                             style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(0px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">2 000 групп товаров 6 млн
                                    позиций</h3>
                            </div>
                        </div>


                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0"
                             style="width: 1228px; transition: all;">
                            <div class="facts__item"
                                 style=" transform: translateX(-614px); transition: all;">
                                <span class="facts__item-suptitle">Факты об Интерстилс</span>
                                <h3 class="facts__item-title aos-init" data-aos="fade-up">2 000 групп товаров 6 млн
                                    позиций</h3>
                            </div>
                        </div>
                    </div>
                    <div class="facts__slider-controls">
                        <button class="facts__prev btn-control">

                        </button>
                        <button class="facts__next btn-progress">
                            <svg class="circle-progress" width="48" height="48" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle class="circle-progress__circle" cx="24" cy="24" r="22"></circle>
                                <circle class="circle-progress__bar" cx="24" cy="24" r="22"
                                        stroke-dasharray="138.23007675795088 138.23007675795088"
                                        style="stroke-dashoffset: 98.4779;"></circle>
                            </svg>

                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>


</main>
{% endblock %}