{% extends 'base.html' %}
{% load static %}

{% block title %} {{ product.name }}{% endblock %}

{% block content %}
<main style="margin-top: 15px;">

    <div class="container mb-5">
        <div class="detail-page" itemscope="" itemtype="http://schema.org/Product">
            <div class="product-grid">
                <div class="product-grid__aside">
                    <div class="details-product">
                        <div class="details-product__photo">
                            <img src="{% if category.image %}{{ category.image.url }}{% else %} {% static 'favicon.png' %} {% endif %}"
                                 data-product-img=""
                                 alt="{{ product.name }}"
                                 itemprop="image"
                                 title="{{ product.name }}">
                        </div>
                        <div class="details-product__info">
                            <div class="attention-note">
                                <p><span style="font-size: 14pt;"><strong>{{ product.name }}.</strong></span>
                                </p>
                                <p><strong>Договориться по цене вы можете позвонив нам.</strong></p>
                            </div>
                            <div class="price-actions" itemprop="offers" itemscope=""
                                 itemtype="http://schema.org/Offer">
                                <div class="price-actions__top">
                                    <div class="price-actions__price">
                                        <meta itemprop="priceCurrency" content="KZT">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                        <div class="price-actions__price-value" itemprop="price">
                                            Цена по запросу
                                        </div>
                                        <div class="price-actions__price-info"
                                             data-tippy-content-p="<span>Не является публичной офертой</span>">
                                        </div>
                                    </div>

                                </div>
                                <div class="price-actions__bottom">


                                    <div class="price-actions__btns product-table__actions callback">

                                        <script data-b24-form="click/51/kppspk" data-skip-moving="true">
                                        (function(w,d,u){
                                        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                                        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                                        })(window,document,'https://cdn-ru.bitrix24.kz/b17734044/crm/form/loader_51.js');
                                        </script>
                                        <div class="product-table__btn btn-find" data-b24-form="click/51/kppspk">
                                            Узнать цену
                                        </div>


                                        <div class="callblock">
                                            <a class="callblock__item" style="background-color: #36b37e;">
                                                <span><i style="color: white;" class="fi fi-rr-phone-call"></i></span>
                                            </a>
                                            <a class="callblock__item" style="background-color: #25d366;" href="#">
                                                <span><i style="color: white;" class="fi fi-brands-whatsapp"></i></span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid__aside-block">
                        <div class="price-actions">
                            <div class="price-actions__top">
                                <div class="price-actions__price">
                                    <div class="price-actions__price-value">
                                        Цена по запросу
                                    </div>
                                    <div class="price-actions__price-info"
                                         data-tippy-content-p="<span>Не является публичной офертой</span>">

                                    </div>
                                </div>

                            </div>
                            <div class="price-actions__bottom">


                                <div class="price-actions__btns product-table__actions">

                                    <script data-b24-form="click/51/kppspk" data-skip-moving="true">
                                    (function(w,d,u){
                                    var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                                    var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                                    })(window,document,'https://cdn-ru.bitrix24.kz/b17734044/crm/form/loader_51.js');
                                    </script>
                                    <div class="product-table__btn btn-find"
                                         style="background-color: rgba(254,209,49,.15); outline: 1px solid rgba(254, 209, 49, .15);"
                                         data-b24-form="click/51/kppspk">
                                        Узнать цену
                                    </div>


                                    <div class="callblock">
                                        <a class="callblock__item" style="background-color: #36b37e;">
                                            <span><i style="color: white;" class="fi fi-rr-phone-call"></i></span>
                                        </a>
                                        <a class="callblock__item" style="background-color: #25d366;" href="#">
                                            <span><i style="color: white;" class="fi fi-brands-whatsapp"></i></span>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="details-nav">
                            <a class="details-nav__item active" href="#about">Описание</a>

                            <a class="details-nav__item" href="#delivery">Доставка</a>
                            <a class="details-nav__item" href="#payment">Оплата</a>
                        </div>
                    </div>
                </div>
                <div class="product-grid__content">
                    <div class="product-grid__header">
                        <h1 class="product__title title">{{ product.name }} </h1>
                        <div class="tags-list">
                            <div class="tags-list__item tags-list__item--many">
                                Наличие: Много
                            </div>
                            <div class="tags-list__item tags-list__item--yellow">
                                Сроки доставки: от 1 дня
                            </div>
                        </div>
                    </div>
                    <div class="price-actions">
                        <div class="price-actions__top">
                            <div class="price-actions__price">
                                <div class="price-actions__price-value">
                                    Цена по запросу
                                </div>
                                <div class="price-actions__price-info"
                                     data-tippy-content-p="<span>Не является публичной офертой</span>">

                                </div>
                            </div>

                            <div class="attention-note">
                                <p><span style="font-size: 14pt;"><strong>{{ product.name }}.</strong></span>
                                </p>
                                <p><strong>Договориться по цене вы можете позвонив нам.</strong></p>
                            </div>
                        </div>
                        <div class="price-actions__bottom">


                            <div class="price-actions__btns product-table__actions">
                                <script data-b24-form="click/51/kppspk" data-skip-moving="true">
                                (function(w,d,u){
                                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                                })(window,document,'https://cdn-ru.bitrix24.kz/b17734044/crm/form/loader_51.js');
                                </script>

                                <div class="product-table__btn btn-find" data-b24-form="click/51/kppspk" style="background-color: rgba(254,209,49,.15); outline: 1px solid rgba(254, 209, 49, .15);">
                                    Узнать цену
                                </div>


                                <div class="callblock">
                                    <a class="callblock__item" style="background-color: #36b37e;">
                                        <span><i style="color: white;" class="fi fi-rr-phone-call"></i></span>
                                    </a>
                                    <a class="callblock__item" style="background-color: #25d366;" href="#">
                                        <span><i style="color: white;" class="fi fi-brands-whatsapp"></i></span>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="product-grid__char">
                        <div class="section-title">Характеристики</div>
                        <ul class="char-list">
                            <li class="char-list__item">
                                <div class="char-list__item-char">Толщина стенки</div>
                                <div class="char-list__item-value">{{ parsed_data.thickness }}</div>
                            </li>

                            <li class="char-list__item">
                                <div class="char-list__item-char">Марка</div>
                                <div class="char-list__item-value">{{ parsed_data.mark }}</div>
                            </li>

                            <li class="char-list__item">
                                <div class="char-list__item-char">ГОСТ</div>
                                <div class="char-list__item-value">{{ parsed_data.gost }}</div>
                            </li>

                            <li class="char-list__item">
                                <div class="char-list__item-char">Тип</div>
                                <div class="char-list__item-value">{{ parsed_data.product_type }}</div>
                            </li>
                        </ul>


                    </div>
                    <div class="product-content">
                        <div class="details-nav">
                            <a class="details-nav__item active" href="#about">Описание</a>

                            <a class="details-nav__item" href="#delivery">Доставка</a>
                            <a class="details-nav__item" href="#payment">Оплата</a>
                        </div>
                        <div class="product-content__block" id="about">
                            <div class="purchase-details">
                                <div class="purchase-details__section" itemprop="description">
                                    <p><b>{{ product.name }}</b>
                                        поставляется со складов по всему Казахстану.

                                        <br>

                                    <p>Позвоните нам по телефону
                                        <a class="mgo-number" href="tel:+7 (747) 562 05 16">
                                            <span class="mgo-number-text">+7 (747) 562 05 16</span>
                                        </a>, напишите нам на почту
                                        <a class="mgo-email" href="mailto:zakaz@steelfed.kz">zakaz@steelfed.kz</a>
                                        или оставьте заявку на сайте.</p>

                                    <p><b>«Стальная Федерация»</b>– ваш надежный поставщик металла.</p>

                                    <p>Мы обеспечиваем предприятия Казахстана металлопрокатом для строительства и
                                        производства. Работаем с проверенными поставщиками, гарантируя качество и
                                        оперативность.</p>

                                    <h4>Наши преимущества:</h4>

                                    <ol>
                                        <li><b>Прямые контракты</b> с ведущими производителями металла и локальными
                                            поставщиками.
                                        </li>
                                        <li><b>Конкурентные цены</b> благодаря высоким объемам закупок.</li>
                                        <li>Более <b>5 миллионов</b> позиций в ассортименте, быстрый подбор под любые
                                            задачи.
                                        </li>
                                        <li><b>Сертифицированная продукция</b>, соответствующая всем отраслевым
                                            стандартам.
                                        </li>
                                        <li>Быстрая обработка заказов – <b>отклик в течение часа</b>.</li>
                                        <li><b>Эксперты</b> в области металлопроката помогут подобрать оптимальное
                                            решение.
                                        </li>
                                        <li><b>Склады</b> в ключевых городах Казахстана и Узбекистана.</li>
                                        <li><b>Надежная логистика</b> – партнерство с крупными транспортными компаниями.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                        <div class="product-content__block" id="delivery">
                            <h3 class="product-content__title">Доставка</h3>
                            <div class="delivery-card__card row">
                                <div class="col-lg-8">
                                    <div class="d-flex delivery-card__card_line">
                                        <div class="delivery-card__card-item-img" style="width: 50%;">
                                            <img loading="lazy" src="{% static 'images/delivery2.webp' %}"
                                                 alt="Доставка3" width="90%;">
                                        </div>
                                        <div class="delivery-card__card-item">
                                            <div class="delivery-card__card-item-title">Железнодорожная, авиа- и морская
                                                перевозка
                                            </div>
                                            <div class="delivery-card__card-item-desc">
                                                Организуем доставку любыми доступными способами, включая таможенное
                                                оформление.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex delivery-card__card_line" style="gap: 20px;">
                                        <div class="delivery-card__card-item-img"
                                             style="width: 65%; margin-right: 0px;">
                                            <img loading="lazy" src="{% static 'images/delivery.webp' %}"
                                                 alt="Доставка3" width="90%;">
                                        </div>
                                        <div class="delivery-card__card-item">
                                            <div class="delivery-card__card-item-title">Автоперевозки
                                            </div>
                                            <div class="delivery-card__card-item-desc">
                                                Точные сроки и соблюдение всех технических требований благодаря
                                                проверенным логистическим партнерам.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="product-content__block" id="payment">
                            <h3 class="product-content__title">Оплата</h3>
                            <div class="delivery-card__card row">
                                <div class="col-lg-8">
                                    <div class="d-flex delivery-card__card_line">
                                        <div class="delivery-card__card-item-img">
                                            <img loading="lazy"
                                                 src="{% static 'images/beznal.webp' %}"
                                                 alt="Оплата">
                                        </div>
                                        <div class="delivery-card__card-item">
                                            <div class="delivery-card__card-item-title">Безналичный расчёт</div>
                                            <div class="delivery-card__card-item-desc">Удобная оплата через банк или
                                                онлайн-кабинет, получение товара после подтверждения платежа.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex delivery-card__card_line">
                                        <div class="delivery-card__card-item-img">
                                            <img loading="lazy" src="{% static 'images/udobstvo.webp' %}"
                                                 alt="Доставка4">
                                        </div>
                                        <div class="delivery-card__card-item">
                                            <div class="delivery-card__card-item-title">Гибкие условия</div>
                                            <div class="delivery-card__card-item-desc">
                                                Возможность отсрочки платежа для постоянных клиентов.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex delivery-card__card_line">
                                        <div class="delivery-card__card-item-img">
                                            <img loading="lazy" src="{% static 'images/individ.webp' %}"
                                                 alt="Доставка6">
                                        </div>
                                        <div class="delivery-card__card-item">
                                            <div class="delivery-card__card-item-title">Индивидуальный подход</div>
                                            <div class="delivery-card__card-item-desc">Поможем подобрать удобный способ
                                                оплаты и рассчитаем стоимость доставки.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/static/js/product-tools.js?v=57"></script>


</main>
{% endblock %}