{% extends 'base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock %}

{% block content %}


<main>


    <div class="catalognew container">

        <div class="row catalog-top mt-4">
            <div class="col-lg-2 pr-2 m-auto">
                <div class="img-wrapper">
                    <img class="catalog-top__img d-none d-lg-block" style="border-radius: 10px;"
                         src="{% if category.image %}{{ category.image.url }}{% else %} {% static 'favicon.png' %} {% endif %}"
                         alt="{{ category.name }}" title="{{ category.name }}">

                </div>
            </div>
            <div class="col">

                <a class="link-back link-back-mb d-lg-none"
                   href="{% if category.parent %}{{ category.parent.get_absolute_url }}{% else %}{% url 'app:category' %}{% endif %}">Назад</a>

                <h1 class="title" id="h1-target">{{ category.name }}</h1>

                <div class="for-juridical">
                    <p class=""><span style="font-size: 14pt;"><strong>{{ category.name }} цена - договорная.</strong></span></p>
                    <p><strong>С тендерами и физическими лицами не работаем!</strong></p>
                </div>
            </div>
        </div>

        <div class="container mb-5">
            <form method="get" id="search-form">
                <label class="search__label visible" style="outline: 1px solid #cacaca; border-radius: 7px; width: 100%;">
                    {{ filter.form.search }}
                </label>
            </form>

        </div>


        <div class="container mb-5">
            <div class="listing-grid__content">
                <div class="product-control">
                    <div class="product-control__found">Найдено <span
                            id="product-count">{{ products.count }}</span> товаров.
                    </div>
                </div>
                <div class="table-wrapper" style="border-radius: 10px;">
                    <table class="product-table style-body style-card style-callback" itemscope
                           itemtype="https://schema.org/ItemList">
                        <tbody id="listing-table-target" data-pagination-target="">
                        {% for product in products %}
                        <tr class="product-table__item">
                            <td>
                                <div class="short-product">
                                    <div class="short-product__photo">
                                        <img style="border-radius: 5px;"
                                             src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'favicon.png' %}{% endif %}">
                                    </div>
                                    <div class="short-product__info">
                                        <a href="{{ product.get_absolute_url }}" itemprop="url">
                                            <div class="short-product__title" data-product-title="" itemprop="name">
                                                {{ product.name }}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <link itemprop="availability" href="http://schema.org/InStock">
                                <meta itemprop="priceCurrency" content="KZT">
                                <div class="product-table__actions callback">


                                    <div class="product-table__btn btn-find"
                                         style="background-color: rgba(254,209,49,.15); outline: 1px solid rgba(254, 209, 49, .15);"
                                         data-call-modal="find-price"
                                         onclick="ym(window.isteels.ym_id, 'reachGoal', 'click_product_price');">
                                        Узнать цену
                                    </div>


                                    <div class="callblock">
                                        <a class="callblock__item" style="background-color: #36b37e;">
                                            <span><i style="color: white;" class="fi fi-rr-phone-call"></i></span>
                                        </a>
                                        <a class="callblock__item" style="background-color: #25d366;" href="#">
                                            <span><i style="color: white;" class="fi fi-brands-whatsapp"></i></span>
                                        </a>
                                    </div>


                                </div>
                            </td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="2">Товары не найдены</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const searchInput = document.querySelector("input[name='search']");
                const resultsContainer = document.getElementById("listing-table-target");
                const productCount = document.getElementById("product-count");

                if (searchInput) {
                    searchInput.addEventListener("input", function () {
                        const query = searchInput.value.trim();
                        const url = new URL(window.location.href);
                        url.searchParams.set("search", query);

                        fetch(url)
                            .then(response => response.text())
                            .then(data => {
                                const parser = new DOMParser();
                                const newDocument = parser.parseFromString(data, "text/html");
                                const newResults = newDocument.querySelector("#listing-table-target").innerHTML;
                                const newCount = newDocument.querySelector("#product-count").textContent;

                                resultsContainer.innerHTML = newResults;
                                productCount.textContent = newCount;
                            })
                            .catch(error => console.error("Ошибка при загрузке товаров:", error));
                    });
                }
            });
        </script>


        <style>
            @media (max-width: 991px) {
                .product-table__item {
                    display: flex;
                    flex-direction: column;
                    padding: 24px;
                }
            }

            .btn-buy:hover, .btn-order:hover, .callblock__item:hover {
                outline: 1px solid green !important;
            }

            .search__label input {
                width: 100%;
                padding: 10px;
                border-radius: 7px;
                border: 1px solid #cacaca;
                font-size: 16px;
                outline: none;
            }

        </style>
        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination-block" id="pagination-container">
            <div class="pagination-block__pagination">
                <div class="pagination" id="pagination">
                    <ul class="pagination__iner">
                        {% if page_obj.has_previous %}
                        <li class="pagination__li pagination__previous"
                            style="display: flex; align-items: center; justify-content: center;">
                            <a class="pagination__link" href="?page={{ page_obj.previous_page_number }}"
                               style="display: flex; align-items: center;">
                                <span>Назад</span>
                            </a>
                        </li>

                        {% endif %}

                        {% if page_range.start > 1 %}
                        <li class="pagination__li">
                            <a class="pagination__link" href="?page=1">1</a>
                        </li>
                        {% endif %}

                        {% for page in page_range %}
                        <li class="pagination__li {% if page == current_page %}pagination__active{% endif %}">
                            <a class="pagination__link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endfor %}

                        {% if page_range.stop <= page_obj.paginator.num_pages %}
                        <li class="pagination__li">
                            <a class="pagination__link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        </li>
                        {% endif %}

                        {% if page_obj.has_next %}
                        <li class="pagination__li pagination__next"
                            style="display: flex; align-items: center; justify-content: center;">
                            <a class="pagination__link" href="?page={{ page_obj.next_page_number }}"
                               style="display: flex; align-items: center;">
                                <span>Вперёд</span>
                            </a>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="pagination-block__count">
                Показано {{ page_obj.start_index }}–{{ page_obj.end_index }} из
                <span>{{ page_obj.paginator.count }}</span> товаров.
            </div>
        </div>
        {% endif %}

    </div>
    </div>

    </div>

    <style>

        label.filter-list__title {
            color: #262a31;
        }

        .not-found-product {
            background-color: #1a1a1a; /* Устанавливаем черный цвет фона */
        }

        @media (max-width: 767px) {
            .card-mini {
                align-items: flex-start;
                flex-direction: column;
                gap: 8px;
                background-color: #fff;
                max-width: 150px;
                max-height: unset;
            }
        }
    </style>


</main>
{% endblock %}