{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock %}

{% block content %}
<main>


    <div class="about-company">

        <section class="about-company__head">
            <div class="about-company-head">
                <div class="container">
                    <h1 class="about-company-head__title" style="color: white;">О компании</h1>
                    <div class="about-company-head__desc" style="color: white;">
                        Благодаря большим объёмам выпускаемой продукции и прямым поставкам с заводов, Стальная Федерация
                        может предложить лучшие цены на металлоизделия.
                    </div>
                </div>
            </div>
        </section>
        <style>
            .about-company-head {
                height: 300px;
                width: 100%;
                background-color: #ededed;
                background-image: url({% static 'images/kz.jpg' %});
                background-repeat: no-repeat;
                background-position: right;
                padding-top: 25px;
            }

            @media (max-width: 991px) {
                .about-company__head {
                    margin-bottom: 0px;
                }
            }


        </style>

        <div class="container mt-4">

            <section class="about-company__middle row ">

                <div class="col-md-6">
                    <div class="about-company-middle">
                        <div class="about-company-middle__sub-title">о компании</div>
                        <h2 class="about-company-middle__title">Крупнейший поставщик металлопроката в Казахстане</h2>
                        <div class="about-company-middle__desc" style="color: #262a31;">
                            <p> Благодаря большим объёмам выпускаемой продукции и прямым поставкам с заводов, Стальная
                                Федерация может предложить лучшие цены на металлоизделия.</p>
                            <p><span><img src="{% static 'images/100.png' %}" style="width: 20%;" alt=""></span> тыс тон
                                Реализовано продукции металлопроката за год </p>
                            <p><span><img src="{% static 'images/17.png' %}" style="width: 16%;" alt=""></span> городов
                                покрыто сетью складов </p>
                            <p><span><img src="{% static 'images/20.png' %}" style="width: 15%;" alt=""></span>
                                современных производственных линий компании</p>
                            <p><span><img src="{% static 'images/20k.png' %}" style="width: 35%;" alt=""></span> позиций
                                металлопроката и готовых изделий из металла </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img class="mb-5" style="border-radius: 15px;"
                         src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}">
                    <img style="border-radius: 15px;" src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}">
                </div>

            </section>

            <div class="container section-container mb-5">
                <section class="projects-clients">
                    <h2 class="about-company-middle__title" style="color: black;">Наши партнеры</h2>
                    <p style="color: black;">Стальная федерация работает по контрактам на поставку высококачественной
                        стали с предприятиями из России, Казахстана, Китая и Кореи.</p>
                    <ul class="projects-clients__list">


                        <li class="js-client-logo" style="background-image: url({% static 'images/armet.png' %})"
                            data-client-id="2"></li>


                        <li class="js-client-logo" style="background-image: url({% static 'images/mechel.png' %})"
                            data-client-id="3"></li>


                        <li class="js-client-logo" style="background-image: url({% static 'images/magnit.png' %})"
                            data-client-id="4"></li>


                        <li class="js-client-logo" style="background-image: url({% static 'images/amet.png' %})"
                            data-client-id="9"></li>


                        <li class="js-client-logo" style="background-image: url({% static 'images/sever.png' %})"
                            data-client-id="10"></li>


                        <li class="js-client-logo" style="background-image: url({% static 'images/nlmk.png' %})"
                            data-client-id="12"></li>


                    </ul>
                    <p style="color: black;">Собственные производственные площади полностью автоматизированы, что
                        позволяет отпускать производить и доставлять товар в сроки и без проблем. В штате работают
                        специалисты с многолетним стажем работы, знающие и любящие своё дело.</p>
                    <div class="projects-clients__list"></div>
                </section>
            </div>
        </div>

    </div>


</main>
{% endblock %}