{% extends 'base.html' %}
{% load static %}

{% block title %} Контакты {% endblock %}

{% block content %}
<main>

    <div class="container">

        <div class="bread-crumbs">
            <div class="container">
                <ul class="bread-crumbs__list" style="list-style: none; padding-left: 0;">
                    <li class="bread-crumbs__item" itemprop="itemListElement" itemscope=""
                        itemtype="https://schema.org/ListItem">
                        <a class="bread-crumbs__link" href="/" itemprop="item"
                           style="color: #fff; text-decoration: none;">
                            <span itemprop="name">Главная</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="bread-crumbs__item" itemprop="itemListElement" itemscope=""
                        itemtype="https://schema.org/ListItem">
                        <div class="bread-crumbs__link" itemprop="item">
                            <span itemprop="name" style="color: #fff;">Контакты</span>
                        </div>
                        <meta itemprop="position" content="2">
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="contacts">
        <div class="container" style="color: #fff;">

            <h1 class="title title_page" style="color: #fff; font-size: 36px; font-weight: bold; margin-bottom: 40px;">
                Контакты</h1>

            <div class="row" style="margin-bottom: 40px;">
                <div class="col-12">
                    <section class="contacts__adress">
                        <div class="contacts-adress"
                             style="background-color: #1a1a1a; padding: 30px; border-radius: 8px;">
                            <div class="row contacts-adress__adress">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__office"
                                        style="color: #e74c3c; margin-bottom: 10px;">Отдел продаж</h2>
                                    <div class="col-lg-12 contacts-adress__time" style="font-size: 16px; color: #ccc;">
                                        <p>Пн-Чт: с 9:00 до 18:00, Пт: с 9:00 до 17:00</p>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12 contacts-adress__title"
                                             style="font-weight: bold; font-size: 16px; color: #ccc;">
                                            Адрес
                                        </div>
                                        <div class="col-lg-12 contacts-adress__desc" style="color: #fff;">Улица Сыганак,
                                            54а, БЦ "А", офис 1001, 10 этаж
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">для Астаны</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">+7 (717) 264 02 97
                                            </div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">Email</div>
                                            <div class="contacts-adress__desc mgo-email" id="contacts-adress__email"
                                                 style="color: #fff;">
                                                <span class="mgo-email">astana@isteels.kz</span>
                                                <span data-tippy-content="Cкопировать" style="color: #e74c3c;">
                                                    <svg class="icon icon_copy" style="width: 16px; height: 16px;">
                                                      <use xlink:href="/static/img/svg/symbol/sprite.svg#copy"></use>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div >

            <div class="row">
                <div class="col-12">
                    <section class="contacts__map" style="background-color: #333; border-radius: 8px; padding: 10px;">
                        <div class="contacts-map">
                            <div id="contacts-map">
                                <iframe style="border-radius: 5px;"
                                        src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;source=constructor-api&amp;um=constructor%3A273ef57fd2e3fe3fcb2f8c72d2c9123564330b69e804eb8b16efab4b0ba9cca5"
                                        frameborder="0" allowfullscreen="true" width="100%" height="330px"
                                        style="display: block;"></iframe>
                                <div id="ymap_ctrl_display" style="color: #ccc;">
                                    <h4>Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row" style="margin-bottom: 40px;">
                <div class="col-12">
                    <section class="contacts__adress">
                        <div class="contacts-adress"
                             style="background-color: #1a1a1a; padding: 30px; border-radius: 8px;">
                            <div class="row contacts-adress__details" style="margin-top: 30px;">
                                <div class="col-lg-5">
                                    <h2 class="col-lg-12 contacts-adress__detail" style="color: #e74c3c;">Реквизиты</h2>
                                    <a class="col-lg-12 contacts-adress__download" href="/contacts_pdf/"
                                       style="color: #e74c3c; font-weight: bold; text-decoration: none;">
                                        Скачать документом (.pdf)
                                    </a>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">БИН</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">221040008280</div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">ИИК</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">
                                                KZ808562203125974472
                                            </div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">Банк</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">АО «Банк
                                                ЦентрКредит»
                                            </div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">БИК</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">KCJBKZKX</div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">Директор</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">Иванов Павел
                                                Андреевич
                                            </div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">Телефон</div>
                                            <div class="contacts-adress__desc" style="color: #fff;">+7 (717) 264 05 60
                                            </div>
                                        </div>
                                        <div class="col-lg" style="min-width: 50%">
                                            <div class="contacts-adress__title" style="color: #ccc;">Адрес эл. почты
                                            </div>
                                            <div class="contacts-adress__desc" style="color: #fff;">ivanov@isteels.kz
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}