{% extends 'base.html' %}
{% load static %}

{% block title %} Металлопрокат оптом, цены, наличие | ГК UniTrade {% endblock %}

{% block content %}

<main class="page-index" style="background-color: black;">


    <!-- БЛОК ВИДЕО -->
    <section class="hero">
        <div class="hero__video">
            <video class="lazy" autoplay="" loop="" muted="" playsinline poster="/static/video/hero-poster.webp">
                <source data-src="{% static 'video/video2.mp4' %}" type="video/mp4">
            </video>

        </div>
        <button class="hero__video-control" aria-label="video control"></button>
        <div class="hero__box" style="min-height: 450px;">
            <div class="hero__box-inner container">
                <div class="hero__wrapper-title">
                    <h1 class="hero__title">ВАШ НАДЕЖНЫЙ ПАРТНЕР В СТРОИТЕЛЬСТВЕ</h1>
                </div>
                <div class="hero__bottom">
                    <div class="hero__application">
                        <div class="dealership__contacts">
                            <div class="dealership__contacts-item" style="border-left: 4px solid ff740f;">
                                <div class="dealership__contacts-title" style="color: white;">Звоните нам</div>
                                <div>

                                    <a class="mgo-number" href="tel:+77077772817" style="color: white;">
                                        +7 (707) 777 28 17</a>

                                </div>
                            </div>
                            <div class="dealership__contacts-item" style="border-left: 4px solid ff740f;">
                                <div class="dealership__contacts-title" style="color: white;">Пишите нам</div>
                                <div>

                                    <a class="mgo-email" href="mailto:astana@isteels.kz" style="color: white;">info@uni-trade.kz</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- КОНЕЦ БЛОК ВИДЕО -->


    <!-- БЛОК КАТЕГОРИЙ -->
    <section class="section-container mt-4 mt-lg-5">
        <div class="container" data-aos="zoom-in">
            <div class="about-company-bottom__sub-title" style="color: #ff740f;">Что на практике</div>
            <h2 class="about-company-bottom__title" style="color: white;">ФАКТОРЫ УСПЕХА</h2>
            <div class="about-company-bottom__card row">

                <div class="news-container">
                    <div class="news-list">
                        {% for category in categories|slice:":8" %}
                        <a class="news-list__item" href="{{ category.get_absolute_url }}">
                            <div class="news-list__photo"
                                 style="background-image: url({% if category.image %}{{ category.image.url }}{% else %}{% static 'images/firstq.jpg' %}{% endif %})">
                                <div class="news-list__info">
                                    <h2 class="news-list__title">{{ category.name }}</h2>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <style>
                    .news-container {
                        width: 100%;
                        max-width: 1200px;
                        margin: 0 auto;
                        padding: 16px;
                    }

                    .news-list {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr); /* 4 карточки на строку */
                        gap: 16px; /* Отступы между карточками */
                    }

                    .news-list__item {
                        background-color: #f9f9f9;
                        border-radius: 8px;
                        text-decoration: none;
                        color: inherit;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        aspect-ratio: 1; /* Квадратные карточки */
                        overflow: hidden;
                    }

                    .news-list__photo {
                        position: relative; /* Для абсолютного позиционирования текста */
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                    }

                    .news-list__info {
                        position: absolute; /* Абсолютное позиционирование для текста */
                        top: 0; /* Текст будет в верхнем левом углу */
                        left: 0;
                        padding: 22px;
                        color: #fff; /* Белый цвет текста для контраста */
                        border-radius: 4px; /* Скругление для фона */
                    }

                    .news-list__title {
                        font-size: 25px;
                        font-weight: bold;
                        margin: 0;
                        color: white;
                    }

                    @media (max-width: 992px) {
                        .news-list {
                            grid-template-columns: repeat(3, 1fr); /* 3 карточки на строку на планшетах */
                        }
                    }

                    @media (max-width: 768px) {
                        .news-list {
                            grid-template-columns: repeat(2, 1fr); /* 2 карточки на строку на мобильных */
                        }
                    }

                    @media (max-width: 480px) {
                        .news-list {
                            grid-template-columns: repeat(2, 1fr); /* 2 карточки на строку на очень маленьких экранах */
                        }

                        .news-list__title {
                            font-size: 16px; /* Уменьшаем текст на маленьких экранах */
                        }
                    }
                </style>

            </div>
        </div>
    </section>
    <!-- КОНЕЦ БЛОК КАТЕГОРИЙ -->


    <!-- БЛОК О НАС -->
    <section class="about" style=" padding: 50px 0; position: relative;">
        <div class="container about__top-content" data-aos="zoom-in">

            <div class="row" style="position: relative; z-index: 1;">
                <div class="col-lg-6 col-xl-6">
                    <!-- О компании -->
                    <p class="about__suptitle aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                       style="color: #f44336;">О компании</p>
                    <h2 class="about__title title aos-init aos-animate" data-aos="fade-up" data-aos-delay="50"
                        style="color: white;">
                        ВАШ НАДЕЖНЫЙ ПАРТНЕР «Build Line»
                    </h2>
                    <div class="about__desc aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                         style="color: #ddd;">
                        <p>Build Line — ваш надежный партнер в строительстве. Мы предлагаем комплексные поставки
                            металлопроката, строительных материалов и оборудования. Обеспечивая качественные товары и
                            услуги, включая доставку, резку и гибку металла, мы помогаем успешно реализовать любой
                            проект.</p>
                        <br>
                        <p>Мы работаем только с оптовыми покупателями – коммерческими и государственными организациями.
                            Высококвалифицированные эксперты коммерческого отдела помогают клиентам собрать заказ любой
                            сложности.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-xl-6">
                    <!-- Сотрудничество -->
                    <div class="about__box" style="background-color: #1f1f1f; border-radius: 8px; padding: 25px;">
                        <h3 class="about__box-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="50"
                            style="color: white;">
                            Сотрудничество с командой «Build Line»
                        </h3>
                        <div class="about__box-desc aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                             style="color: #ddd;">
                            <p>Благодаря широкой сети филиалов в крупнейших городах Казахстана мы доставляем заказы до
                                любого производственного или складского объекта точно в срок, и с соблюдением всех
                                условий перевозки данного вида груза.</p>
                            <br>
                            <p>У нас в наличии всегда имеется широкий ассортимент готовой продукции – всего более 6 млн
                                наименований. Весь товар произведен в строгом соответствии с отраслевыми стандартами и
                                имеет сертификаты качества.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .about-company-bottom {
            color: #fff; /* Белый цвет текста */
            padding: 30px;
            border-radius: 10px; /* Мягкие углы */
            position: relative;
            z-index: 1;
            margin-bottom: 100px;
        }

        .about-company-bottom__card-item {
            position: relative;
            background-color: #212121; /* Темный фон карточки */
            color: #fff;
            border-radius: 10px; /* Мягкие углы карточки */
            margin: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 2;
        }

        .about-company-bottom__card-item-title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            color: white;
        }

        .about-company-bottom__card-item-desc {
            font-size: 14px;
            margin-top: 10px;
            color: #ddd; /* Серый текст */
        }

        .about-company-bottom__sub-title, .about-company-bottom__title {
            font-weight: bold;
            margin: 20px 0;
        }
    </style>

    <!-- КОНЕЦ БЛОК О НАС -->


    <!-- УСЛУГИ -->

    <div class="catalog container mt-5">
        <div class="about-company-bottom__sub-title" style="color: #f44336;">Дополнительно</div>
        <h2 class="about-company-bottom__title" style="color: white;">Наши услуги</h2>
        <div class="row" data-aos="zoom-in">
            <div class="col-lg-12">

                <a class="link-back link-back-mb d-lg-none mt-0" href="{% url 'app:services' %}">Услуги</a>

                <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; margin-bottom: 70px;">
                    <!-- Карточка 1 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}" alt="DelPapa"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            металлоконструкций</h3>
                    </div>

                    <!-- Карточка 2 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/fundamentnyh-boltov.jpg' %}" alt="BB"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            фундаментных болтов</h3>
                    </div>

                    <!-- Карточка 3 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/armaturnye-karkai.jpg' %}" alt="Coco"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            арматурных каркасов</h3>

                    </div>

                    <!-- Карточка 4 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/sendvich-panel.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            сэндвич-панелей</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/vzryvozashishenny-elektronagrevatel.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            взрывозащищенных электронагревателей</h3>

                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/protivopozharnyh-sistem.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            противопожарных систем</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/cinkovanie.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Цинкование
                            металлоконструкций</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/trubchatyh-svaj.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство
                            свай из трубы</h3>
                        <!--                        <a href="#"-->
                        <!--                           style="text-decoration: none; font-size: 16px; color: #fff; background-color: #333; padding: 10px 15px; border-radius: 50px; display: flex; align-items: center; justify-content: center; gap: 10px; transition: background-color 0.3s ease;">-->
                        <!--                            Презентация-->
                        <!--                            <span style="font-size: 18px; font-weight: bold; margin-left: 5px;">➔</span>-->
                        <!--                        </a>-->
                    </div>

                </div>

                <script>
                    // Адаптивность: на мобильных устройствах будет по 3 карточки на строке
                    if (window.innerWidth <= 768) {
                      const cards = document.querySelectorAll('div[style*="width: 23%"]');
                      cards.forEach(card => card.style.width = '30%');
                    }

                    // На экранах до 480px по 2 карточки на строке
                    if (window.innerWidth <= 480) {
                      const cards = document.querySelectorAll('div[style*="width: 30%"]');
                      cards.forEach(card => card.style.width = '45%');
                    }
                </script>
            </div>
        </div>
    </div>

    <!-- КОНЕЦ УСЛУГИ -->


    <!-- ДОПОЛНИТЕЛЬНЫЙ БЛОК О НАС -->
    <section class="container about-company__bottom">
        <div class="about-company-bottom" data-aos="zoom-in"> <!-- Темный фон -->
            <div class="about-company-bottom__sub-title" style="color: #ff740f;">Что на практике</div>
            <h2 class="about-company-bottom__title" style="color: white;">ФАКТОРЫ УСПЕХА</h2>

            <div class="about-company-bottom__card row">

                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="
                     background-image: url({% static 'images/icon-today-1.webp' %});
                     background-size: contain;
                     background-repeat: no-repeat;
                     background-position: center;">
                        <div class="about-company-bottom__card-item-title">Команда ГК «UniTrade»</div>
                        <div class="about-company-bottom__card-item-desc">
                            Наши сотрудники - эксперты в области проката металла, сталей и сплавов...
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="background-image: url(/static/img/company-bottom-2.webp); background-size: cover;">
                        <div class="about-company-bottom__card-item-title">Быстрая и бережная доставка</div>
                        <div class="about-company-bottom__card-item-desc">
                            Сеть региональных складов и партнёрство с крупнейшими транспортными компаниями...
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="background-image: url(/static/img/company-bottom-3.webp); background-size: cover;">
                        <div class="about-company-bottom__card-item-title">Уникальная база поставщиков</div>
                        <div class="about-company-bottom__card-item-desc">
                            Мы производим широкий спектр изделий из черного, цветного и нержавеющего проката...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .about-company-bottom {
            color: #fff; /* Белый цвет текста */
            padding: 30px;
            border-radius: 10px; /* Мягкие углы */
        }

        .about-company-bottom__card-item {
            position: relative;
            background-color: #212121; /* Темный фон карточки */
            color: #fff;
            border-radius: 10px; /* Мягкие углы карточки */
            margin: 10px;
            padding: 20px;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            height: 220px; /* Уменьшенная высота карточки */
        }

        .about-company-bottom__card-item-title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
            color: white;
        }

        .about-company-bottom__card-item-desc {
            font-size: 14px;
            margin-top: 10px;
            color: #ddd; /* Серый текст */
        }

        .about-company-bottom__sub-title, .about-company-bottom__title {
            font-weight: bold;
            margin: 20px 0;
        }

        /* Уточнение текста в карточке */
        .about-company-bottom__card-item-desc {
            overflow: hidden; /* Обрезает текст, если слишком длинный */
            text-overflow: ellipsis; /* Указывает многоточие, если текст выходит за пределы */
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Количество строк, отображаемых для описания */
            -webkit-box-orient: vertical;
        }
    </style>

    <!-- КОНЕЦ ДОПОЛНИТЕЛЬНЫЙ БЛОК О НАС -->


</main>
{% endblock %}