{% extends 'base.html' %}
{% load static %}

{% block title %} Услуги {% endblock %}

{% block content %}
<main>


    <div class="catalog container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="title title_page" style="color: white;">Услуги</h1>
                <a class="link-back link-back-mb d-lg-none" href="/services/">Услуги</a>

                <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; margin-bottom: 70px;">
                    <!-- Карточка 1 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/proizvodstvo-metallokonstrukcij.png' %}" alt="DelPapa"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство металлоконструкций</h3>
                    </div>

                    <!-- Карточка 2 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/fundamentnyh-boltov.jpg' %}" alt="BB"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство фундаментных болтов</h3>
                    </div>

                    <!-- Карточка 3 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/armaturnye-karkai.jpg' %}" alt="Coco"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство арматурных каркасов</h3>

                    </div>

                    <!-- Карточка 4 -->
                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/sendvich-panel.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство сэндвич-панелей</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/vzryvozashishenny-elektronagrevatel.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство взрывозащищенных электронагревателей</h3>

                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/protivopozharnyh-sistem.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство противопожарных систем</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/cinkovanie.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Цинкование металлоконструкций</h3>
                    </div>

                    <div style="background-color: #1a1a1a; border-radius: 16px; padding: 20px; width: 23%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 20px;">
                        <img src="{% static 'images/trubchatyh-svaj.jpg' %}" alt="Food"
                             style="border-radius: 50%; width: 80px; height: 80px; margin-bottom: 15px;">
                        <h3 style="font-size: 18px; text-align: center; margin-bottom: 10px; color: #ccc;">Производство свай из трубы</h3>
<!--                        <a href="#"-->
<!--                           style="text-decoration: none; font-size: 16px; color: #fff; background-color: #333; padding: 10px 15px; border-radius: 50px; display: flex; align-items: center; justify-content: center; gap: 10px; transition: background-color 0.3s ease;">-->
<!--                            Презентация-->
<!--                            <span style="font-size: 18px; font-weight: bold; margin-left: 5px;">➔</span>-->
<!--                        </a>-->
                    </div>

                </div>

                <script>
                    // Адаптивность: на мобильных устройствах будет по 3 карточки на строке
                    if (window.innerWidth <= 768) {
                      const cards = document.querySelectorAll('div[style*="width: 23%"]');
                      cards.forEach(card => card.style.width = '30%');
                    }

                    // На экранах до 480px по 2 карточки на строке
                    if (window.innerWidth <= 480) {
                      const cards = document.querySelectorAll('div[style*="width: 30%"]');
                      cards.forEach(card => card.style.width = '45%');
                    }
                </script>
            </div>
        </div>
    </div>


</main>
{% endblock %}